.symbol-block {
    text-align: right;
}
.symbol-block ul {
    margin: -20px 0 0 0;
    padding: 30px 0 20px 0;
    border-top: 2px solid #676666;
    text-align: left;
}
.symbol-block li {
    list-style: none;
    display: block;
    margin: 10px 2px;
    vertical-align: middle;
    padding: 0 10px 0 0px;
    background: rgb(236, 236, 236);
    color: #696969;
    overflow: hidden;
}

.symbol-block li:before {
    display: inline-block;
    font-size: 33px;
    background: rgb(226, 226, 226);
    color: #545454;
    border-radius: 0;
    padding: 22px 8px;
    margin: 0px;
}

span.sym-val {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    position: relative;
    top: -8px;
    line-height: 0;
    padding: 0 10px;
}

.symbol-block .btn {
    font-size: 1.2rem;
    padding: 5px 10px;
    border-radius: 70px;
    border: 5px solid;
}
.symbol-block .modal-body li {
    text-align: left;
    margin: 0px auto;
    display: table;
    border: 1px dotted #e4e4e4;
    padding: 10px;
}
.symbol-block .modal-body li:before {
    display: table-cell;
    width: 50px;
}
.symbol-block .modal-body li span {
    display: table-cell;
    vertical-align: middle;
    padding: 0 0 0 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    line-height: 1.3rem;
    font-weight: 700;
}

.m-details table{
    width: 100%;
}
.m-details td {
    padding: 10px;
    border: 1px solid #8a8a8a;
}


.admin .form-group.symbol-block li {
    height: auto;
    width: 460px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 23px;
    display: block;
    margin-bottom: 10px;
}
.admin .form-group.symbol-block li input[type=text] {
    display: inline;
    width: 76%;
    float: right;
}
.form-group.symbol-block label {
    display: block;
    float: right;
    width: 87%;
}
.form-group.symbol-block label div {
    padding: 5px 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.form-group.symbol-block input.form-control {
    display: inline-block;
    width: 79%;
}

.form-group.symbol-block input.form-control[placeholder='Order'] {
    width: 20%;
}

