<!-- start Simple Custom CSS and JS -->
<style type="text/css">
/* Add your CSS code here.

For example:
.example {
    color: red;
}

For brushing up on your CSS knowledge, check out http://www.w3schools.com/css/css_syntax.asp

End of comment */ 
.primax{
	
}
.roll-button button-slider{
	display:none;
}
.entry-utility{
    display: none !important;
}
.site-header.float-header{
	background-color:#ffffff;
}
.site-header.float-header li{
	color:#000000 !important;;
}
.site-header.float-header ul{
	color:#000000 !important;;
}
.site-header.float-header a{
	color:#000000 !important;;
}
*div.item_class .item_text p{
margin : 10px 0;
padding : 0;
}
#ourserice{
margin : 10px 0;
padding : 0;
}
</style>
<!-- end Simple Custom CSS and JS -->
