/*!
 * Start Bootstrap - SB Admin Bootstrap Admin Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Global Styles */

body {
    margin-top: 100px;
    background-color: #222;
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
	min-height: 600px;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* Custom Colored Panels */

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}
label.error { color:red; font-size:10px;}
input.error { border-left:2px red solid;}
#files	li { list-style: none; padding: 4px; float:left; }


.sys_message_error	{ background:#FEEBEB; background-position:20%; background-repeat:no-repeat; z-index:9999; font-size:12px; border:1px solid #FDB3B5; margin-bottom:8px; padding:8px; font-weight: bold; text-align: center;}
.success			{ position:fixed; background:#E9FEDA !important; color:#333333; z-index:9999; font-size:12px; border:1px solid #C4FCBA; margin-bottom:8px; padding:8px; font-weight: bold; text-align: center; width:100%;}
.sys_message		{ display: none;}
.information		{ position:fixed; background:#FFCCCC !important; color:#333333; z-index:9999; font-size:12px; border:1px solid #FF8282; margin-bottom:8px; padding:8px; font-weight: bold; text-align: center; width:100%;}





.symbol-block {
    margin: 30px 0 0 0;
}
.symbol-block ul {
    margin: -20px 0 0 0;
    padding: 30px 0 20px 0;
    border-top: 2px solid #676666;

}
.symbol-block li {
    list-style: none;
    display: inline-block;
    margin: 4px 2px;
}

.symbol-block li:before {
    display: inline-block;
    font-size: 33px;
    background: rgb(234, 234, 234);
    color: #565656;
    border-radius: 50%;
    padding: 8px;
    margin: 4px 2px;
}

.symbol-block .btn {
    font-size: 1.2rem;
    padding: 5px 10px;
    border-radius: 70px;
    border: 5px solid;
}
.symbol-block .modal-body li {
    text-align: left;
    margin: 0px auto;
    display: table;
    border: 1px dotted #e4e4e4;
    padding: 10px;
}
.symbol-block .modal-body li:before {
    display: table-cell;
    width: 50px;
}
.symbol-block .modal-body li span {
    display: table-cell;
    vertical-align: middle;
    padding: 0 0 0 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    line-height: 1.3rem;
    font-weight: 700;
}


.admin .form-group.symbol-block li {
    height: 50px;
    width: 460px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 23px;
    display: block;
    margin-bottom: 10px;
}
.admin .form-group.symbol-block li input[type=text] {
    display: inline;
    width: 200px;
    float: right;
}
.navbar-inverse .navbar-nav>li>a{
	color:white !important;
}
.navbar-inverse .navbar-brand{
	color:white !important;
}
.side-nav>li>ul>li>a{
	color:white !important;
}
.navbar-inverse{
	background-color:#c40000 !important;
}
