.primax-content-after-heading{

    padding-top:20px;
    padding-bottom:20px;    

}
.primax-default{
    color: #777 !important;
    font-size: 18px !important;
    padding-right: 40px !important;
    line-height: 32px !important;
    margin-top: 14px !important;
}
label{
    color: #777 !important;
    font-size: 18px !important;
    padding-right: 40px !important;
    line-height: 32px !important;
    margin-top: 14px !important;
    font-weight:normal !important;
    text-align: left !important;
}
.primax-default ul{
    list-style: none;
    list-style-type: none !important;

}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    background-color:#ffffff;
}

button{
    background-color: #1BBC9B !important;
}
