@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?8zm8as');
  src:  url('fonts/icomoon.eot?8zm8as#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?8zm8as') format('truetype'),
    url('fonts/icomoon.woff?8zm8as') format('woff'),
    url('fonts/icomoon.svg?8zm8as#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-symbols_auto-button-hole:before {
  content: "\e900";
}
.icon-symbols_box-type:before {
  content: "\e901";
}
.icon-symbols_button-diameter:before {
  content: "\e902";
}
.icon-symbols_buttonhole-length:before {
  content: "\e903";
}
.icon-symbols_current:before {
  content: "\e904";
}
.icon-symbols_cylinder-bed:before {
  content: "\e905";
}
.icon-symbols_feeding-volumn:before {
  content: "\e906";
}
.icon-symbols_flat-bed:before {
  content: "\e907";
}
.icon-symbols_gw-nw:before {
  content: "\e908";
}
.icon-symbols_heavy-weight-materials:before {
  content: "\e909";
}
.icon-symbols_height-of-feeding-tooth:before {
  content: "\e90a";
}
.icon-symbols_height-of-presser-foot:before {
  content: "\e90b";
}
.icon-symbols_horizontal_hook:before {
  content: "\e90c";
}
.icon-symbols_invisibale-seam:before {
  content: "\e90d";
}
.icon-symbols_knife-reciprocating:before {
  content: "\e90e";
}
.icon-symbols_light-weight-materials:before {
  content: "\e90f";
}
.icon-symbols_lubricating-oil:before {
  content: "\e910";
}
.icon-symbols_means-of-lubricating:before {
  content: "\e911";
}
.icon-symbols_medium-weight-materials:before {
  content: "\e912";
}
.icon-symbols_mode:before {
  content: "\e913";
}
.icon-symbols_motor:before {
  content: "\e914";
}
.icon-symbols_needle-bar-stroke:before {
  content: "\e915";
}
.icon-symbols_needle-gauge:before {
  content: "\e916";
}
.icon-symbols_needle:before {
  content: "\e917";
}
.icon-symbols_no-of-needle:before {
  content: "\e918";
}
.icon-symbols_number-of-threads:before {
  content: "\e919";
}
.icon-symbols_packing-size:before {
  content: "\e91a";
}
.icon-symbols_post-bed:before {
  content: "\e91b";
}
.icon-symbols_power:before {
  content: "\e91c";
}
.icon-symbols_rating-freq:before {
  content: "\e91d";
}
.icon-symbols_rating-voltage:before {
  content: "\e91e";
}
.icon-symbols_ratio:before {
  content: "\e91f";
}
.icon-symbols_sewing-speed-22:before {
  content: "\e920";
}
.icon-symbols_sewing-speed-25:before {
  content: "\e921";
}
.icon-symbols_stich-length:before {
  content: "\e922";
}
.icon-symbols_stich-no:before {
  content: "\e923";
}
.icon-symbols_stich-width:before {
  content: "\e924";
}
.icon-symbols_Stitch-Sample:before {
  content: "\e925";
}
.icon-symbols_tack-sewing:before {
  content: "\e926";
}
.icon-symbols_thread-cutting:before {
  content: "\e927";
}
.icon-symbols_thread-wiper:before {
  content: "\e928";
}
.icon-symbols_threads-type:before {
  content: "\e929";
}
.icon-symbols_vertical-hook:before {
  content: "\e92a";
}
.icon-symbols_widh-of-knif:before {
  content: "\e92b";
}
.icon-symbols_zigzag-stich-width:before {
  content: "\e92c";
}
