/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {

  color: #2b2b2b;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;

    font-size: 1.6rem;
    line-height: 2.2rem;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    font-weight: 700;
}

a{
    -webkit-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
}
:focus {
    outline: -webkit-focus-ring-color auto 0px;
}
.hideme{ opacity:0;}
.full-strech{    padding-left: 0px; padding-right: 0px;}
.title{ font-weight: 100; text-transform: uppercase;}

.h-b{ text-align: center;    padding: 60px 0;}
.h-b .title { margin: 10px 0 30px 0;}

.h-b p{font-size: 1.6rem; font-weight: 100;}

.b-gray{ background: #e7e7e7;}

.color-block a.btn {
    color: #fff;
    border: 3px solid;
    font-size: 1.6rem;
    text-transform: uppercase;
    padding: 10px 50px;
    margin-top: 30px;
}
.color-block a.btn span.link-icon svg{
    fill: #fff;
    width: 100%;
    height: inherit;
}
span.link-icon {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    margin-left: 5px;
    height: 30px;
}
span.link-i{width: 100%;}

.bg-red{background-color: #c40000; color: #fff;}
.bg-green{background-color: #0c9e13; color: #fff;}
/*.bg-orange{background-color: #ff6d01; color: #fff;}*/
.bg-blue{background-color: #002e8a; color: #fff;}
.bg-purple{background-color: #7f3ac1; color: #fff;}

.bg-gmt-grey{background-color:#4f4f4f; color: #fff;}

.bg-orange{background-color: #4f4f4f; color: #fff;}



.color-line-bottom{bottom: 0;}
.color-line-b-o-g{position: relative;}
.color-line-b-o-g:before{
    content: " ";
    display: block;
    width: 100%;
    height: 10px;
    position: absolute;
    top: 0;

    background: rgb(0,46,138); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(0,46,138,1) 1%,rgb(196, 0, 0) 29%,rgb(185, 2, 7) 29%,rgba(254,116,15,1) 69%,rgb(251, 111, 15) 69%,#FFC107 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(0,46,138,1) 1%,rgb(196, 0, 0) 29%,rgb(185, 2, 7) 29%,rgba(254,116,15,1) 69%,rgb(251, 111, 15) 69%,#FFC107 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(0,46,138,1) 1%,rgb(196, 0, 0) 29%,rgb(185, 2, 7) 29%,rgba(254,116,15,1) 69%,rgb(251, 111, 15) 69%,#FFC107 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002e8a', endColorstr='#0c9e13',GradientType=1 ); /* IE6-9 */
}
.color-line-bottom:before{top:inherit;bottom: 0;}

.company {
    color: rgb(255, 255, 255);
    padding-top: 30px;
    background: rgb(60, 60, 60);
    background: -moz-linear-gradient(135deg, rgb(107, 107, 107) 0%,rgb(76, 76, 76) 36%,rgb(53, 53, 53) 100%);
    background: -webkit-linear-gradient(135deg, rgb(107, 107, 107) 0%,rgb(76, 76, 76) 36%,rgb(53, 53, 53) 100%);
    background: linear-gradient(135deg, rgb(107, 107, 107) 0%,rgb(76, 76, 76) 36%,rgb(53, 53, 53) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=1 );
}

/*Home page Search form
--------------------------------------*/
.search-area{
    /*background-image: url("../img/ora.jpg");*/
    background-size: cover;
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
.search-area .search-field {
    background: transparent;
    color: #fff;
    text-indent: 20px;
    line-height: 45px;
    padding: 0;
    width: 360px;
    -webkit-appearance: none;
    border: 3px solid;
    font-weight: 400;
    padding-right: 40px;
}
.search-area .search-submit {
    background: rgba(255, 255, 255, 0);
    font-size: 0;
    border: 0;
    padding: 25px;
    position: absolute;
    right: 0;
    top: 0;
}
.search-area .search-field::-webkit-input-placeholder{color: rgb(255, 255, 255);    font-style: italic;}

form.search-form label {
    position: relative;
}
.h-b form.search-form span.icon {
    position: absolute;
    width: 25px;
    bottom: 8px;
    right: 10px;
}
.h-b form.search-form span.icon svg {
    width: 100%;
    height: inherit;
    fill: #fff;
}

.where{
    background-image: url("../img/green-map.png");
    background-size: cover;
}


/* owl-carousel
-------------------------------------*/
.owl-carousel .owl-item a img {
    width: inherit;
    margin: 0 auto;
}

.owl-theme .owl-nav {
    position: absolute;
    width: 100%;
    top: 25%;
}
.owl-theme .owl-nav div {
    position: absolute;
}
.owl-theme .owl-nav .owl-prev {
    left: 0;
}
.owl-theme .owl-nav .owl-next {
    right: 0;
}
.owl-theme .owl-nav [class*=owl-] {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-family: monospace;
    padding: 10px;
    background: rgba(0, 46, 138, 0.24);
    font-size: 2rem;
    line-height: 1;
    -webkit-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
}
.owl-theme .owl-nav [class*=owl-]:hover {
    background: #002e8a;
    -webkit-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
}
.owl-item .item a {
    font-size: 1.3rem;
    color: #444444;
    text-transform: uppercase;
}
.owl-item .item a span {
    display: block;
    font-weight: 700;
}
.owl-carousel.owl-drag .owl-item{
    padding: 10px 50px;
}
/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #5a5a5a;
}
.navbar-wrapper.affix {
    position: fixed;
    height: 55px;
    z-index: 11;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.29);
    -webkit-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
}
.navbar-wrapper.affix nav.navbar {
    margin: 0;
}
.navbar-wrapper.affix a.navbar-brand {
    width: 380px;
    overflow: hidden;
    background-size: 358px;
    position: relative;
    top: 0;
}
.navbar{
    margin: 20px 0;
}
/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  background: #fff;
    -webkit-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #ffffff;
}
.navbar-inverse {
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
}
.navbar-nav{
    float: right;
}

.navbar-inverse .navbar-nav>li>a {
    color: #000000;
    font-size: 1.4rem;
   /* border-radius: 50px;*/
    padding: 17px 20px;
	/*
    -webkit-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
	*/
}

.navbar-wrapper.affix .navbar-inverse .navbar-nav>li>a{border-radius: 0px;}
.navbar-inverse .navbar-nav>li>a:focus{
    color: #000;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
}

.navbar-inverse .navbar-nav>li>a:hover {
    background: #E8EAF6;
    color: #3F51B5;
   /* -webkit-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
	*/
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus{
    background-color: #3F51B5;
    border-radius: 0;
    -webkit-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #000;
    background-color: rgba(0, 0, 0, 0);
}

.navbar-nav>li>.dropdown-menu {
    padding: 0;
}
.dropdown-menu>li>a{
    padding: 20px 30px;
    border-bottom: 1px solid #ccc;
    -webkit-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
}

.navbar-brand {
    display: block;
    font-size: 0;
    line-height: 0;
    background-image: url("../img/gmt_main_logo.jpg");
    background-position: 0 center;
    background-size:70%; /*40*/
    background-repeat: no-repeat;
    width:180%;
    height:65px;
    padding: 0;
}
.navbar-brand img{
	width:200px;
	height:auto;
}
ul.dropdown-menu {
    left: inherit;
    right: 0;
    border: 0;
    background-color: rgba(255, 255, 255, 0.98);
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}




.slide a:hover {
    -webkit-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
    color: #fff;
    text-shadow: 1px 1px 36px #fff;
    box-shadow: inset 0px 0px 55px 0px rgba(0, 0, 0, 0.1);
}
.slide .copy-wraper,
#slider,
#slider img{
    height: 520px;
}

.h-b-s{
    position: relative;
    width: 100%;
    padding: 0;
}
#slider{
    width: 100%;
    position: relative;
    overflow: hidden;
    float: left;
    padding: 0;
    border-radius: 0;
}

.slide-image{
    text-align: center;
    vertical-align: bottom;

}
#slider .slide-image img {
    width: 100%;
    max-width: 950px;
    height: inherit;
}

.img1, .img2, .img3, .img4, .img5 {
    width:100%;
    margin:0;
    padding:0;
}


.slide{
    display:block;
    position:absolute;
    width:100%;
    height:100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide .copy-wraper{
    display: table;
    display: table;
    width: 100%;
}
.slide .copy-wraper .copy-container{
    display: table-cell;
    vertical-align: middle;
}



.slide-copy{
    display: block;
    vertical-align: middle;
    padding: 10px 20px 20px 20px;
}


.slide h1 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 5.5rem;
    text-shadow: 1px 1px 1px #000;
}

.slide p {
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 3rem;
    text-shadow: 1px 1px 1px #000;
}
.slide a{
    text-transform: uppercase;
    font-weight: 100;
    text-shadow: 1px 1px 1px #000;
}
#prev, #next{
    cursor: pointer;
    z-index: 10;
    background: rgba(0, 0, 0, 0.42);
    height: 80px;
    width: 70px;
    display: inline-block;
    position: absolute;
    bottom: 40%;
    margin: 0;
    padding: 15px 0;
    opacity: 0.7;
    filter: alpha(opacity=70);
}

#next{
    float:right;
    right:0px;
}

#prev{
    float:left;
    left:0;
}

.arrow-right {
    top: 20%;
    right: -25%;
    width: 25px;
    height: 25px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    position: relative;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(-45deg);
}

.arrow-left {
    width: 25px;
    height: 25px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    position: relative;
    top: 20%;
    left: 30%;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(-45deg);
}
.subsidiaries a, .subsidiaries a span{
    display: block;
}
.subsidiaries a{ margin: 0 20px;}
span.sub-img {
    height: 100px;
}
a span.sub-txt {
    color: #585858;
    text-transform: uppercase;
    font-size: 1.8rem;
    margin-top: 10px;
}


footer {
    text-align: center;
    padding: 0px 0 20px 0;
    margin-top: 4rem;
}
.home footer{margin-top: 0;}

footer nav {
    background: #353535;
    padding: 15px 15px;
    margin-bottom: 20px;
    position: relative;
}
.foot-menu{
    text-align: left;
    position: relative;
}
.foot-menu a {
    color: #b8b8b8;
    font-size: 1.3rem;
    padding: 0 5px;
}
.social-links{ text-align: right;}
.social-links a {
    width: 10px;
    display: inline-block;
    text-align: center;
    margin: 0 10px;
    vertical-align: middle;
    padding: 0 5px;
}
.social-links a svg {
    fill: rgba(255, 255, 255, 0.47);
    height: inherit;
}
.social-links a:hover svg{
    fill: rgba(255, 255, 255, 1);
}
/*
footer nav .foot-menu:before, footer nav .foot-menu:after {
    content: " ";
    display: inline-block;
    position: absolute;
    top: -15px;
    background: #ccc;
    width: 60px;
    height: 7px;
    left: 20px;
}
*/
/*
footer nav .foot-menu:before{background-color: #c40000;}
footer nav .foot-menu:after{background-color: #002e8a;left: 80px;}
*/

.inner-page .banner{
    margin-top: 100px;
    background-size: cover;
    position: relative;
    overflow: hidden;
    padding: 35px 0;
}

.inner-page .banner:after {
    /* content: " "; */
    /* display: block; */
    width: 100%;
    height: 600px;
    position: absolute;
    top: 0;
    left: 0;
    
	/*
	background: rgb(193, 23, 30) 1%,rgba(196, 0, 0, 0.79) 29%,rgba(247, 16, 22, 0.8) 41%,rgba(189, 15, 15, 0.74) 69%,rgba(160, 15, 15, 0.68) 74%,rgba(0, 0, 0, 0.61) 100%);
	*/
	
	background: rgb(34, 31, 32);
    background: -moz-linear-gradient(left, rgba(193, 23, 30) 1%,rgba(196, 0, 0, 0.79) 29%,rgba(185, 2, 7, 0.8) 41%,rgba(254, 116, 15, 0.74) 69%,rgba(251, 111, 15, 0.68) 74%,rgba(255, 193, 7, 0.61) 100%);
    background: -webkit-linear-gradient(left, rgba(193, 23, 30) 1%,rgba(196, 0, 0, 0.79) 29%,rgba(185, 2, 7, 0.8) 41%,rgba(0, 0, 0, 0.74) 69%,rgba(0, 0, 0, 0.68) 74%,rgba(0, 0, 0, 0.61) 100%);
    background: linear-gradient(to right, 
	rgba(0, 0, 0, 0.9) -50%,
	rgba(196, 0, 0, 0.79) -41%,
	rgba(185, 2, 7, 0.8) 41%,
	rgba(185, 2, 7, 0.8) 41%,
	rgba(185, 2, 7, 0.8) 41%,
	rgba(0, 0, 0, 0.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002e8a', endColorstr='#c40000',GradientType=1 );
    z-index: 0;
}
.inner-page .color-line-b-o-g:before{z-index: 1;    left: 0;    height: 5px;}

.inner-page .banner h1 {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    text-shadow: 1px 1px 2px #000;
    z-index: 1;
    padding: 0 0;
    margin: 0;
}

.inner-page .banner h4 {
    margin: 0;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 100;
    position: relative;
    text-shadow: 1px 1px 2px #000;
    z-index: 1;
}

.inner-content{
    min-height:800px;
    margin-top: 30px;
}



.item-list >div {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
	float: right;
	margin-right:10px;
}
span.item-w {
    display: block;
}
span.item-w img {
    width: 100%;
}


.item-list a.item {
    text-align: center;
    position: relative;
    display: block;
    overflow: hidden;
    top: 0;
    -webkit-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
    border: 1px solid #eaeaea;
}
.item-list a:hover {
    box-shadow: 0px 20px 30px -10px rgba(0, 0, 0, 0.38);
    top: -5px;
    -webkit-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
    text-decoration: none;
}
.products.item-list a.item{
   
    border-radius: 3px;

}
.item-list.cat-sub a.item{
    background: rgb(105, 105, 105);
    border: 1px solid #eaeaea;
    border-radius: 5px;
    -webkit-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
    height: 230px;
}
.item-list.cat-sub .item-img {
    top: 0;
    z-index: 0;
    opacity: 0.9;
    display: block;
}
.item-list .item-img img{
    width: 100%;
}

.item-list .item-name {
    width: 100%;
    z-index: 2;
    bottom: 0px;
    left: 0;
    text-transform: uppercase;
    color: #777777;
    font-size: 1.5rem;
    line-height: 1.8rem;
    display: block;
    background: rgba(232, 232, 232,0.3);
    padding: 12px 14px;
    font-weight: 700;
    /*text-shadow: 1px 1px 0px #fff;*/
}

.item-list span.item-img {
    display: block;
    height: 150px;
    /*overflow: hidden; hh removed on 17/02/2018 */
	
    vertical-align: middle;
}

.item-list.cat-sub .item-name {
    position: absolute;
    width: inherit;
    z-index: 2;
    bottom: 35%;
    left: inherit;
    right: 0px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    font-size: 1.6rem;
    line-height: 1.8rem;
    display: block;
    text-shadow: 1px 1px 10px #ffffff;
    background: rgba(255, 255, 255, 0.85);
    padding: 25px 14px;
    height: 70px;
    box-shadow: inset 0px -97px 60px -50px rgba(255, 255, 255, 0.71);
}
.item-list.cat-sub .item-w:before {
    content: " ";
    display: block;
    width: 0px;
    height: 0px;
    border-top: 140px solid rgba(255, 248, 248, 0.21);
    border-LEFT: 150px solid rgba(51, 51, 51, 0.12);
    border-bottom: 125px solid rgba(0, 0, 0, 0);
    border-right: 240px solid rgba(255, 255, 255, 0.4);
    position: absolute;
    top: 0;
    left: 0px;
    z-index: 1;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}
.item-list.cat-sub a:hover .item-w:before{

    border-left: 10px solid rgba(0, 0, 0, 0);
    border-top: 110px solid rgba(255, 255, 255, 0.26);
    border-right: 440px solid rgba(224, 224, 224, 0.12);
    border-bottom: 0px solid rgba(0, 0, 0, 0);
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;

}
.item-list.cat-sub .item-w:after {
    content: " ";
    display: block;
    width: 0px;
    height: 0px;
    border-top: 110px solid rgba(255, 255, 255, 0.26);
    border-right: 440px solid rgba(51, 51, 51, 0.12);
    border-bottom: 125px solid rgba(0, 0, 0, 0.15);
    border-left: 0px solid rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0px;
    z-index: 1;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}
.item-list.cat-sub a:hover  .item-w:after{
    border-top: 60px solid rgba(255, 248, 248, 0.21);
    border-LEFT: 200px solid rgba(255, 255, 255, 0.12);
    border-bottom: 175px solid rgba(0, 0, 0, 0);
    border-right: 240px solid rgba(255, 255, 255, 0.4);
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}

.breadcrumb {
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #efefef;
    font-size: 1.1rem;
    background: #f7f7f7;
    font-weight: 700;
    text-transform: uppercase;
	color:#2b2b2b;
}

.breadcrumb a {
    color: #2b2b2b;
}
.breadcrumb a:hover {
    text-decoration: none;
    color: #2b2b2b;
}

.breadcrumb span.glyphicon {
    font-size: 0.9rem;
    color: #ccc;
}
.breadcrumb.affix {
    top: 54px;
    width: 100%;
    z-index: 2;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.09);
}


.m-details h5{
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1.9rem;
    background: #444444;
    padding: 10px;
    color: #fff;
    margin-bottom: 2rem;
}


.symbol-block {
    text-align: right;
}
.symbol-block ul {
    margin: -20px 0 0 0;
    padding: 30px 0 20px 0;
    border-top: 2px solid #676666;
    text-align: center;
}
.symbol-block li {
    list-style: none;
    display: inline-block;
    margin: 4px 5px;
    vertical-align: middle;
    padding: 0 10px 0 0px;
    color: #696969;
    overflow: hidden;
    border: 1px solid #eae9e9;
    border-radius: 6px;
}

.symbol-block li:before {
    display: inline-block;
    font-size: 33px;
    background: rgba(226, 226, 226, 0.33);
    color: #545454;
    border-radius: 0;
    padding: 8px;
    margin: 0px;
}

span.sym-val {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    position: relative;
    top: -8px;
    line-height: 0;
    padding: 0 10px;
}

.symbol-block .btn {
    font-size: 1.2rem;
    padding: 5px 10px;
    border-radius: 70px;
    border: 5px solid;
}
.symbol-block .modal-body li {
    text-align: left;
    margin: 0px auto;
    display: table;
    border: 1px dotted #e4e4e4;
    padding: 10px;
}
.symbol-block .modal-body li:before {
    display: table-cell;
    width: 50px;
}
.symbol-block .modal-body li span {
    display: table-cell;
    vertical-align: middle;
    padding: 0 0 0 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    line-height: 1.3rem;
    font-weight: 700;
}

.m-details table{
    width: 100%;
}
.m-details td {
    padding: 10px;
    border: 1px solid #8a8a8a;
}


.admin .form-group.symbol-block li {
    height: 50px;
    width: 460px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 23px;
    display: block;
    margin-bottom: 10px;
}
.admin .form-group.symbol-block li input[type=text] {
    display: inline;
    width: 200px;
    float: right;
}

.performances table{
    margin-top: 25px;
}

.performances td {
    padding: 10px 10px;
    border-bottom: 1px solid rgba(228, 228, 228, 0.38);
}
.performances tr > td:nth-child(1){font-weight: 700;}
.performances tr:nth-child(odd){background: rgba(204, 204, 204, 0.19);}


.branch-list h3 {
    padding: 0 5px;
}
.branch-list h5 {
    font-size: 1.8rem;
}
.branch-list >div {
    background: #fbfafa;
    height: 190px;
    border: 5px solid #f5f5f5;
    padding: 10px 20px;
}

.contact input[type=text], .contact input[type=email] {
    width: 75%;
    display: inline-block;
    margin-bottom: 15px;
    padding: 5px;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.contact textarea {
    width: 75%;
    padding: 20px;
}
.contact input[type="submit"] {
    margin: 20px auto;
    padding: 10px;
    width: 100%;
    display: block;
}
.contact label {
    width: 22%;
    font-weight: 400;
    text-align: right;
}
.contact form {
    padding: 15px 0;
}

.about-tab ul.nav.nav-tabs {
    display: table;
    margin-bottom: 60px;
    width: 100%;
    border-bottom: 6px solid #ddd;
    box-shadow: 0px 11px 18px -14px rgba(0, 0, 0, 0.24);
}
.about-tab .nav li {
    display: table-cell;
    vertical-align: bottom;
    float: none;
    height: 180px;
}
.about-tab .nav li a {
    border: 0;
    display: block;
    vertical-align: bottom;
    text-align: center;
    padding: 20px 40px;
}
.about-tab .nav li a img {
    max-width: 100%;
}
.about-tab .nav li span {
    display: block;
}
.about-tab .nav-tabs>li.active>a, .about-tab .nav-tabs>li.active>a:hover, .about-tab .nav-tabs>li.active>a:focus {
    box-shadow: 0px -10px 30px -5px rgba(0, 0, 0, 0.16);
    border: 0px;
    position: relative;
    bottom: -11px;
    border-top: 4px solid;
}
.tab-content h2 {
    margin-bottom: 30px;
}
.tab-content p {
    line-height: 2.6rem;
    margin-bottom: 2rem;
}

/*css menu*/

.tree, .tree ul {
    margin:0;
    padding:0;
    list-style:none
}
.tree ul {
    margin-left:1em;
    position:relative
}
.tree ul ul {
    margin-left:.5em
}
.tree ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left:1px solid
}
.tree li {
    margin:0;
    padding:0 1em;
    line-height:2em;
    color:#369;
    font-weight:700;
    position:relative
}
.tree ul li:before {
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:1px solid;
    margin-top:-1px;
    position:absolute;
    top:1em;
    left:0
}
.tree ul li:last-child:before {
    background:#fff;
    height:auto;
    top:1em;
    bottom:0
}
.indicator {
    margin-right:5px;
}
.tree li a {
    text-decoration: none;
    color:#369;
}
.tree li button, .tree li button:active, .tree li button:focus {
    text-decoration: none;
    color:#369;
    border:none;
    background:transparent;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    outline: 0;
}

#typewriter-deactive{

color:#b6bcbd;
}


.product-listing .panel-group .panel-heading .panel-title a {
    display: inline-flex;
    font-family: open sans;
    font-size: 14px;
    padding: 5px;
    width: 94%;
}

.product-listing .panel-default .panel-body a {
    color: #333;
    display: inline-flex;
    font-size: 14px;
    padding: 5px;
    text-align: left;
    width: 95%;
}

.product-listing .panel-group .panel-default .panel-body {
    background: #eaeaea none repeat scroll 0 0;
    padding: 5px 15px 5px 30px;
}

.product-listing .panel-group .panel-body .panel-body {
    background: #f5f5f5 none repeat scroll 0 0;
}

.product-listing .panel-default .panel-collapse .panel-body .checkbox {
    margin: 5px;
}

.product-listing .accordian-arrow {
    background: #7d7d7d none repeat scroll 0 0 none repeat scroll 0 0;
    color: #888;
    height: 15px;
    margin-left: -5px;
    margin-right: 5px;
    padding: 1px 2px;
    position: relative;
    transition: all 0.3s ease-in-out 0s;
    width: 14px;
	text-align: center;
}

.hideOverflow
{
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    display:block;
}


.product-listing .collapsed .accordian-arrow .fa-plus-square-o, .product-listing .accordian-arrow .fa-minus-square-o {
    display:block;
}

.product-listing .accordian-arrow .fa-plus-square-o, .product-listing .collapsed  .accordian-arrow .fa-minus-square-o {
    display:none;
}

.nested-accordion .panel-group .panel-body li .panel .panel-heading {
    padding: 5px;
}

.nested-accordion .panel-body li .panel-group .panel-collapse .panel-body {
    padding: 5px 15px;
}

#hp-ctn-howItWorks img,#how-it-works img
{
    margin: 15px 0px 45px 13px;
}

#hp-ctn-howItWorks p,#how-it-works p
{
    color:white;
 
}
#hp-ctn-howItWorks{
		border: 1px solid rgba(213,213,213,0.69);
		-webkit-box-shadow: inset 0px -5px 10px -2px rgba(0,0,0,0.08);
		-moz-box-shadow: inset 0px -5px 10px -2px rgba(0,0,0,0.08);
		box-shadow: inset 0px -5px 10px -2px rgba(0,0,0,0.08);
		border-radius:2px;


}
#hp-ctn-howItWorks a,#hp-ctn-howItWorks a:hover{
	color:white;
	display:inline-block;
	padding:8px 30px 2px 18px; 
	font-weight:bold;

	
}

.feedback{
	display:block;
	bottom:10px;
	right:10px;
	position:fixed;
	background-color:#c40000 !important;
	padding:8px 12px 9px 12px !important;
	color:white !important;
	text-decoration:none !important;
}


.image-fixed-size{
	width:600px !important;
	height:auto !important;;

}
.m-details .owl-carousel .owl-item img{
	width:400px !important;
	height:auto !important;;
}

.price{
	font-size:25px !important;
	display:inline-block;
	border:2px solid #c40000 !important;
	padding:5px;
	
}
.add-to-cart{
		font-size:20px !important;
	display:inline-block;
	border:2px solid #c40000 !important;
	padding:5px;
	text-decoration:none;
	color:white;
	background-color:#c40000;
	
}
.add-to-cart a,.add-to-cart a:hover{
	
	text-decoration:none !important;
	color:white !important;
	
}

.product-info a,.product-info a:hover{
	
	text-decoration:none !important;
	color:white !important;
	
}

.product-info a,.product-info a:hover{
	
	
}
.product-info .product-detail-p{

	padding:10px 0px;
}
.product-detail-padding-left{
	padding-right:10px !important; 
	display:inline-block;
}



p.banner-new{

	text-align:center;
	font-weight:bold;
	line-height:40px;
	margin-top:38%;
    background-color:#d6354f;
	color:white;
    font-size:27px;
	padding:10px 0px;
	border-left:0px solid #c40000;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.text-wroding{

	line-height:20px;

}


/*css menue*/


.search-products{
	padding:5% 0% !important;
	
}
.search-products .btn a:hover{
	color:#ffffff;
}
.btn.bg-red a:hover{
	color:#ffffff;
}
.trigger-toggle-category{
	display:none;
}

.show-catgory{
	display:block;
}


a.list-group-item {
    height:auto;
    min-height:220px;
	overflow:auto;
}
a.list-group-item.active small {
    color:#fff;
}
.stars {
    margin:20px auto 1px;    
}


/* GMT Unique */

.sidebar-class li a{
	color:#2b2b2b !important;
	border-bottom: #efe6e6 1px solid !important;
}


.gmt-button{

	background-color:#c40000;
	color:#ffffff;
	padding:8px 8px;
	border:none;
	border-color:none;

}
.gmt-button:hover{
	background-color:#a90101;
}
.gmt-text{
	padding:8px 8px !important;
}
label.error{
	color:#c40000 !important;
	font-size:15px;
	font-weight:normal  !important;
	display:inline-block;
	padding:3px 0px 2px 0px;
}
.product-detail-login{
	
	padding-bottom:20px;
	
}
a.gmt-button.signup:hover{
	
	text-decoration:none!important;
	color:white !important;
	
}

.product-detail-login-div{
	
	border-bottom:1px solid grey;
	
}
.gmt-line{ 
    margin: 25px 0;
    height: 1px;
    border: 0;
    background: grey;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, grey));
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus{
	background-color:#c40000 !important;
	color:white!important;
	
}
.pagination>li>a, .pagination>li>span{
	color:#2b2b2b !important;
	border-color:#ddd !important;
}


.phone-num-reg{
	color:#c40000 !important;
}

a:hover.phone-num-reg {
    text-decoration: none;
}

/*
.gmt-link{
  background-color:#c40000;
  color:#ffffff;

}
*/


/*
a:hover{
  background-color:#c40000 !important;
  color:#ffffff !important;
  border-radius:0px !important;
}
*/

.order-detail a:hover{
  background-color:#ffffff !important;
  color:#333 !important;
  border-radius:0px !important;
}
.form-class-element label{
	font-weight:normal !important;
}
.gmt-red-white-div{
	background-color:#c40000 !important;
	color:#ffffff !important;
}

.navbar-brand a:hover{
	background-color:none !important;
}
.badge {
    background-color: #c40000 !important;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index:999; /* Stay on top */
    top:20; /* Stay at the top */
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}



#extramenue{
	text-align:right;
}
#extramenue ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

#extramenue li {
    float: right;
}

#extramenue li a {
    display: block;
    color: #000000;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
}

#extramenue li a:hover {
    
}

.signup-adj{
	padding : 10px 0px 10px 15px;
}

.signup-adj a{
	color:#2b2b2b !important;
	text-decoration:underline !important;
}
.gmt-btton{
	background-color:#c40000 !important;
	color:#fff !important;
	border:0px !important;
	padding: 8px 20px;
}

.form-control{
	height:40px !important;

}

.img-adjust{
	padding-top:100px;
}

.sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar{
    border-radius:0; 
    margin-bottom:0; 
    border:0;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }  
}






/* RESPONSIVE CSS
-------------------------------------------------- */










@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
    /*Menu break point
    ===============================*/
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
    /*=============================
    Menu break point end*/
	.p.banner-new{
	
		font-size:17px !important;
	}
	
	
}



@media (min-width: 768px) {



    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 0px;
    }
    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
        width: 100%;
    }
    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }

    #slider{
        margin-top: 100px;
    }
}

/*Phone*/

@media (max-width: 768px) {
    .navbar-inverse .navbar-toggle{
        margin: 7px -15px 0 0;
    }
    .m-m-b-w, .container>.navbar-header{
        padding: 0;
    }
    .h-b-s #prev, .h-b-s #next{
        display: none;
    }
    .navbar-wrapper a.navbar-brand,.navbar-wrapper.affix a.navbar-brand{
        width:110px;
        overflow: hidden;
        background-size:100%;
    }
    .navbar-wrapper .navbar{
        margin: 0;
    }
    .navbar-wrapper.affix nav.navbar{
        background: #fff;
    }
    .navbar-inverse .navbar-collapse{
        padding: 0;
        margin: 0 -25px;
    }
    ul.nav.navbar-nav {
        float: none;
        width: 100%;
        text-align: right;
        margin: 0;
    }
    .navbar-inverse .navbar-nav>li>a {
        font-size: 1.8rem;
        border-bottom: 1px solid #ccc;
        border-radius: 0;
    }
    .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
        background-color: #fff;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #3c3c3c;
        font-size: 1.8rem;
        text-align: right;
        padding: 20px 40px 20px 10px;
        background: #f5f5f5;
    }
    .inner-page .banner{
        margin-top: 55px;
        padding: 20px 0;
    }
    .col-lg-6.col-md-6.social-links {
        width: 100%;
        float: none;
        text-align: center;
        padding: 15px 0 0 0;
    }
    .col-lg-6.col-md-6.foot-menu {
        width: 100%;
        float: none;
        text-align: center;
    }
    .search-area .search-field{
        width: 320px;
    }
    .owl-theme .owl-nav [class*=owl-] {
        display: none;
    }
    .h-b {
        padding: 40px 0;
    }
    .subsidiaries a {
        margin: 0 10px 30px 10px;
        padding-bottom: 20px;
        border-bottom: 1px solid #ccc;
    }
	.mobile-only-search{
		padding-top:5px;
		text-align:left;
	}
	p.banner-new{
	
		font-size:20px;
		padding:5px;
		font-weight:500;
	
	}
	
	
}
	.hidedesktop{
		display:none !important;
	}
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 2000px) {
	.hidedesktop{
		display:none !important;
	}
  
  }
 @media screen 
  and (max-device-width: 768px) {
	.showmobile{
		display:block !important;
	}
	.hidedesktop{
		display:block !important;
	}
	#extramenue{
		display:none !important;
	}
	.owl-carousel.owl-drag .owl-item{
		padding: 0px 0px !important;
	}
	.m-details .owl-carousel .owl-item img{
		width:100% !important;
		height:auto;
	}
  
  }
  
  @media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
	
	}
  }
  
  @media (min-width:1367px) {
	.navbar-brand{
		width:120%;
		
	}
  }
	
	
	
  /* Desktops and laptops ----------- */
	@media only screen  and (min-width : 1224px) {
		p.banner-new{
			
			padding:10px 5px;
			font-size:25px;
			margin-top:55%;
			
		}
	
	}

	/* Large screens ----------- */
	@media only screen  and (min-width : 1824px) {
	
		p.banner-new{
		
			padding:10px 10px;
			font-size:35px;
			margin-top:42%;
		
		}

	
	
	}
	
	
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : horizontal) {
	p.banner-new{
	
		font-size:17px !important;
	}
	

}  
  
  