/*----------------------- Preloader -----------------------*/
body.preloader-site {
    overflow: hidden;
}

.preloader-wrapper {
    height: 100%;
    width: 100%;
    background: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
}

.preloader-wrapper .preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 120px;
}


.parent-home-logo{
	width:300px;
	height:auto;
	display:block;
	margin: 0 auto;
	padding-bottom:30px;
}

.vertical-center {

}

.banner-text{
	padding-bottom:30px;

}
.banner-text h2{
	color:#9c9797;

}



.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
.home{
	display:inline-block;
	padding:16px 60px;
	background-color: #c40000;
	color:white;
	font-size:18px;
	border:0px;
	border-radius:0px;
	box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.19);
	border-bottom: 3px solid #2e1e23;
}
a.home,a:hover.home.a:focus.home{
	color:white;
	text-decoration:none;
}

html { 
  background: url(https://gmtautospares.com.au/templates/home/img/home-banner.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	.home{
		padding:8px 40px;
	}

}

/*Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {


}

/*Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 

 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 

}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 


}